# Capstone Project: Saudi Arabia Climate Observation 

by VISION Team

##Importing Packages

In [88]:
#import the usual suspects
import pandas as pd
import numpy as np
from datetime import datetime, timezone
import time

##Loading Dataset

In [89]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
#Loading  the data
df = pd.read_csv('/content/drive/MyDrive/saudi-hourly-weather-data.csv',delimiter = ';')
#df = pd.read_csv( 'saudi_hourly_weather_data.csv' ,delimiter = ';')
df.head()

,YEAR,station_country,station_name,station_id,observation_date,latitude,longitude,elevation,wind_direction_angle,wind_direction_angle_units,...,air_temperature,air_temperature_units,air_temperature_quality,air_temperature_dew_point,air_temperature_dew_point_units,air_temperature_dew_point_quality,atmospheric_sea_level_pressure,atmospheric_sea_level_pressure_units,atmospheric_sea_level_pressure_quality,GEOPOINT
0,2022,SA,AL BAHA,41055099999,2022-12-10T00:00:00+03:00,20.296139,41.634277,1672.13,350,ANGULAR DEGREES,...,17.0,DEGREES CELSIUS,Passed all quality control checks,14,DEGREES CELSIUS,Passed all quality control checks,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"20.296139,41.634277"
1,2022,SA,TAIF,41036099999,2022-12-10T00:00:00+03:00,21.483418,40.544334,1477.67,999,ANGULAR DEGREES,...,16.0,DEGREES CELSIUS,Passed all quality control checks,12,DEGREES CELSIUS,Passed all quality control checks,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"21.483418,40.544334"
2,2022,SA,AL-DAWADAMI,40435099999,2022-12-10T00:00:00+03:00,26.983333,44.116667,923.00,80,ANGULAR DEGREES,...,16.1,DEGREES CELSIUS,Passed all quality control checks,11,DEGREES CELSIUS,Passed all quality control checks,1017.0,HECTOPASCALS,Passed all quality control checks,"26.9833333,44.1166666"
3,2022,SA,AL AHSA,40420099999,2022-12-10T00:00:00+03:00,25.285306,49.485189,179.22,340,ANGULAR DEGREES,...,17.0,DEGREES CELSIUS,Passed all quality control checks,7,DEGREES CELSIUS,Passed all quality control checks,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"25.285306,49.485189"
4,2022,SA,GASSIM,40405099999,2022-12-10T00:00:00+03:00,26.300000,43.766667,648.00,110,ANGULAR DEGREES,...,14.0,DEGREES CELSIUS,Passed all quality control checks,14,DEGREES CELSIUS,Passed all quality control checks,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"26.3,43.7666666"

## Exploring the Dataset

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1852381 entries, 0 to 1852380
Data columns (total 35 columns):
 #   Column                                  Dtype
---  ------                                  -----
 0   YEAR                                    int64
 1   station_country                         object
 2   station_name                            object
 3   station_id                              int64
 4   observation_date                        object
 5   latitude                                float64
 6   longitude                               float64
 7   elevation                               float64
 8   wind_direction_angle                    int64
 9   wind_direction_angle_units              object
 10  wind_direction_quality                  object
 11  wind_type                               object
 12  wind_speed_rate                         float64
 13  wind_speed_rate_units                   object
 14  wind_speed_quality                      object
 15  sky_ceiling_height                      int64
 16  sky_ceiling_height_units                object
 17  sky_ceiling_quality                     object
 18  sky_ceiling_determination               object
 19  sky_cavok                               object
 20  visibility_distance                     int64
 21  visibility_distance_units               object
 22  visibility_distance_quality             object
 23  visibility_variability                  object
 24  visibility_variability_quality          object
 25  air_temperature                         float64
 26  air_temperature_units                   object
 27  air_temperature_quality                 object
 28  air_temperature_dew_point               int64
 29  air_temperature_dew_point_units         object
 30  air_temperature_dew_point_quality       object
 31  atmospheric_sea_level_pressure          float64
 32  atmospheric_sea_level_pressure_units    object
 33  atmospheric_sea_level_pressure_quality  object
 34  GEOPOINT                                object
dtypes: float64(6), int64(6), object(23)
memory usage: 494.6+ MB

In [92]:
df.shape

(1852381, 35)

In [93]:
df.isna().sum()

YEAR                                      0
station_country                           0
station_name                              0
station_id                                0
observation_date                          0
latitude                                  0
longitude                                 0
elevation                                 0
wind_direction_angle                      0
wind_direction_angle_units                0
wind_direction_quality                    0
wind_type                                 0
wind_speed_rate                           0
wind_speed_rate_units                     0
wind_speed_quality                        0
sky_ceiling_height                        0
sky_ceiling_height_units                  0
sky_ceiling_quality                       0
sky_ceiling_determination                 0
sky_cavok                                 0
visibility_distance                       0
visibility_distance_units                 0
visibility_distance_quality               0
visibility_variability                    0
visibility_variability_quality            0
air_temperature                           0
air_temperature_units                     0
air_temperature_quality                   0
air_temperature_dew_point                 0
air_temperature_dew_point_units           0
air_temperature_dew_point_quality         0
atmospheric_sea_level_pressure            0
atmospheric_sea_level_pressure_units      0
atmospheric_sea_level_pressure_quality    0
GEOPOINT                                  0
dtype: int64

In [94]:
df['YEAR'].value_counts()

2021    326711
2020    321634
2019    314302
2022    308446
2017    296562
2018    284726
Name: YEAR, dtype: int64

In [95]:
df['station_country'].value_counts()

SA    1852381
Name: station_country, dtype: int64

In [96]:
df['station_name'].value_counts()

AL AHSA                                     68417
KING KHALED INTL                            68301
ARAR                                        68281
AL JOUF                                     68086
DAMMAM (KING FAHD INT. AIRPORT)             68065
KING ABDULLAH BIN ABDULAZIZ                 67940
KING ABDULAZIZ INTL                         67925
RAFHA                                       67732
ABHA                                        67721
GASSIM                                      67647
TAIF                                        67639
QAISUMAH                                    67631
HAIL                                        67603
YENBO                                       67576
TABUK                                       67551
WEJH                                        67481
SHARURAH                                    67470
TURAIF                                      67412
PRINCE MOHAMMAD BIN ABDULAZIZ               67265
NEJRAN                                      67225
WADI AL DAWASIR                             66704
KING KHALED AB                              64371
PRINCE ABDULMAJEED BIN ABDULAZIZ AIRPORT    54583
KING ABDULAZIZ AB                           49864
GURIAT                                      44705
BISHA                                       44609
AL BAHA                                     44135
PRINCE SALMAN BIN ABDULAZIZ                 34934
JUBAIL                                      29828
MAKKAH                                      17205
ARAFAT                                      15574
RIYADH AB                                   12403
AL-DAWADAMI                                 11838
KING KHALED MILITARY CITY                    5149
MINA                                         1506
AL-ZABERAH                                      4
K.F.I.A. (KING FAHAD INT. AIRPORT) DAMMA        1
Name: station_name, dtype: int64

In [97]:
df['station_id'].value_counts()

40420099999    68417
40437099999    68301
40357099999    68281
40361099999    68086
40415099999    68065
41140099999    67940
41024099999    67925
40362099999    67732
41112099999    67721
40405099999    67647
41036099999    67639
40373099999    67631
40394099999    67603
40439099999    67576
40375099999    67551
40400099999    67481
41136099999    67470
40356099999    67412
40430099999    67265
41128099999    67225
41061099999    66704
41114099999    64371
40401099999    54583
40416099999    49864
40360099999    44705
41084099999    44609
41055099999    44135
40414099999    34934
40419499999    29828
41030099999    17205
41032099999    15574
40438099999    12403
40435099999    11838
40377099999     5149
41031099999     1506
40363099999        4
40417099999        1
Name: station_id, dtype: int64

In [98]:
df['observation_date'].value_counts()

2021-07-05T12:00:00+03:00    59
2019-06-29T18:00:00+03:00    59
2021-07-01T09:00:00+03:00    59
2021-07-13T09:00:00+03:00    59
2021-07-13T12:00:00+03:00    59
                             ..
2018-03-29T09:04:00+03:00     1
2019-02-16T01:15:00+03:00     1
2022-06-22T16:22:00+03:00     1
2018-03-29T03:28:00+03:00     1
2022-03-15T06:39:00+03:00     1
Name: observation_date, Length: 62031, dtype: int64

In [99]:
df['latitude'].value_counts()

25.285306    68417
24.957640    68301
30.906589    68281
29.785133    68086
26.433333    68065
16.901111    67940
21.679564    67925
29.626419    67732
18.240367    67721
26.300000    67647
21.483418    67639
28.335192    67631
27.437917    67603
24.144244    67576
28.365417    67551
26.198553    67481
17.466875    67470
31.692683    67412
24.553422    67265
17.611436    67225
20.504275    66704
18.297286    64371
26.293800    54583
26.265417    49864
31.411942    44705
19.984350    44609
20.296139    44135
24.449867    34934
27.039028    29828
21.433333    17205
21.333333    15574
26.983333    11838
24.721944    10036
27.900917     5149
24.709833     2367
21.416667     1506
28.000000        4
26.450000        1
Name: latitude, dtype: int64

In [100]:
df['longitude'].value_counts()

49.485189    68417
46.698776    68301
41.138217    68281
40.100006    68086
49.800000    68065
42.585833    67940
39.156536    67925
43.490614    67732
42.656625    67721
43.766667    67647
40.544334    67639
46.125069    67631
41.686292    67603
38.063350    67576
36.618889    67551
36.476381    67481
47.121431    67470
38.731200    67412
39.705061    67265
44.419169    67225
45.199556    66704
42.803536    64371
38.063700    54583
50.152027    49864
37.279469    44705
42.620881    44609
41.634277    44135
44.121175    34934
49.405083    29828
39.766667    17205
39.966667    15574
44.116667    11838
46.724722    10036
45.528194     5149
46.725166     2367
39.866667     1506
41.450000        4
49.816667        1
Name: longitude, dtype: int64

In [101]:
df['elevation'].value_counts()

7.92       97404
179.22     68417
624.53     68301
552.60     68281
689.15     68086
12.00      68066
6.09       67940
14.63      67925
449.27     67732
2090.31    67721
648.00     67647
1477.67    67639
357.83     67631
1015.28    67603
777.54     67551
20.11      67481
720.24     67470
854.35     67412
655.62     67265
1213.71    67225
628.49     66704
2065.93    64371
623.01     54583
25.60      49864
509.62     44705
1184.75    44609
1672.13    44135
922.32     34934
240.00     17205
308.00     15574
923.00     11838
635.20     10036
412.08      5149
634.59      2367
394.00      1506
617.00         4
Name: elevation, dtype: int64

In [102]:
df['wind_direction_angle'].value_counts()

999    218138
300     78483
270     75158
330     72657
360     67204
90      59764
60      59762
30      57774
240     56875
120     56457
280     55676
320     52784
210     51600
310     50895
180     49813
290     49540
80      43011
340     42995
20      41764
350     41163
150     40809
260     40612
100     39722
70      39462
10      38064
40      36156
110     34874
50      34418
220     33405
250     32926
200     32750
130     30930
230     29416
140     27864
160     26975
190     26726
170     25728
101         3
323         2
9           2
354         2
335         1
247         1
3           1
22          1
12          1
242         1
8           1
36          1
333         1
7           1
32          1
279         1
321         1
99          1
158         1
331         1
106         1
27          1
81          1
148         1
171         1
55          1
Name: wind_direction_angle, dtype: int64

In [103]:
df['wind_direction_angle_units'].value_counts()

ANGULAR DEGREES    1852381
Name: wind_direction_angle_units, dtype: int64

In [104]:
df['wind_direction_quality'].value_counts()

Passed all quality control checks                                             1634241
Passed gross limits check if element is present                                218138
Passed all quality control checks, data originate from an NCEI data source          2
Name: wind_direction_quality, dtype: int64

In [105]:
df['wind_type'].value_counts()

Normal      1627392
Calm         204284
Variable      20695
Missing          10
Name: wind_type, dtype: int64

In [106]:
df['wind_speed_rate'].value_counts()

2.1      237610
3.1      213269
0.0      205320
4.1      181866
5.1      165224
2.6      137575
1.5      108701
3.6       97427
6.2       94111
1.0       71091
4.6       64450
7.2       55608
5.7       44803
8.2       33887
6.7       33596
7.7       26375
9.3       24314
10.3      16268
8.8       12587
11.3       6572
9.8        5893
12.4       3057
10.8       2949
11.8       1862
0.5        1499
12.9       1340
13.4       1186
999.9      1178
14.4        786
15.4        620
13.9        432
14.9        151
16.5        127
17.5        100
17.0         75
18.5         68
20.6         61
16.0         58
18.0         57
19.6         34
8.7          28
25.7         20
22.7         18
19.0         11
27.8         10
21.6          9
30.9          8
10.0          7
26.8          6
28.8          5
8.0           5
26.3          4
24.7          4
21.1          4
27.3          4
5.0           4
23.2          4
23.7          4
22.1          4
20.1          4
28.3          4
6.0           3
12.0          3
25.2          3
29.9          2
24.2          2
29.3          2
12.3          2
2.0           2
33.5          1
7.0           1
43.8          1
15.0          1
37.1          1
31.4          1
36.0          1
4.0           1
Name: wind_speed_rate, dtype: int64

In [107]:
df['wind_speed_rate_units'].value_counts()

METERS PER SECOND    1852381
Name: wind_speed_rate_units, dtype: int64

In [108]:
df['wind_speed_quality'].value_counts()

Passed all quality control checks                                             1851084
Passed gross limits check if element is present                                  1178
Suspect                                                                           117
Passed all quality control checks, data originate from an NCEI data source          2
Name: wind_speed_quality, dtype: int64

In [109]:
df['sky_ceiling_height'].value_counts()

99999    1462807
22000     243982
3048       30142
1219       23054
914        18482
2438       12495
3000        8799
2743        6769
1200        6718
1067        5469
900         4372
610         4193
2400        3018
6096        2214
671         2187
6000        2006
2700        1954
2134        1743
1050        1631
1372        1476
600         1143
762          997
750          797
660          740
2100         427
305          420
457          365
1350         336
549          309
240          208
5486         207
1829         180
30           175
5400         154
120          121
1524         116
450          107
366          102
300           99
60            86
152           81
540           80
122           61
853           59
244           56
3353          51
488           48
0             44
732           44
5182          41
884           38
213           36
3658          35
4877          35
518           34
91            33
274           32
975           31
792           31
427           31
4267          30
701           30
579           29
1006          29
6401          27
3962          27
4572          27
183           26
61            24
396           24
1189          23
823           23
1128          22
1036          20
360           19
945           19
6706          18
1250          18
840           17
1500          17
1097          16
1158          16
5791          16
640           16
7010          15
1494          15
150           14
335           13
7500          13
1280          13
1433          12
5100          11
2835          10
1311           9
1341           9
10668          8
2256           8
1463           8
480            7
2652           7
2103           6
1402           6
3018           6
2682           6
1981           6
690            5
1615           5
2073           5
2926           5
7315           5
2804           5
720            5
1890           4
570            4
2164           4
2896           4
960            4
1554           4
510            4
2225           4
210            4
2195           3
1676           3
5700           3
1585           3
2865           3
2530           3
4500           3
2499           3
1951           3
2774           3
2286           3
270            2
2713           2
2316           2
1380           2
1859           2
90             2
1707           2
180            2
2560           2
12192          2
420            1
1920           1
2957           1
390            1
2347           1
4800           1
2621           1
2469           1
1768           1
2591           1
1800           1
9235           1
3900           1
1080           1
1110           1
3600           1
2012           1
1320           1
9144           1
2408           1
2377           1
Name: sky_ceiling_height, dtype: int64

In [110]:
df['sky_ceiling_height_units'].value_counts()

METERS    1852381
Name: sky_ceiling_height_units, dtype: int64

In [111]:
df['sky_ceiling_quality'].value_counts()

Passed gross limits check if element is present                               1462807
Passed all quality control checks                                              389543
Passed all quality control checks, data originate from an NCEI data source         29
Suspect                                                                             2
Name: sky_ceiling_quality, dtype: int64

In [112]:
df['sky_ceiling_determination'].value_counts()

Missing                  1738857
Statistically derived     112233
Obscured                    1291
Name: sky_ceiling_determination, dtype: int64

In [113]:
df['sky_cavok'].value_counts()

Yes        956523
No         890169
Missing      5689
Name: sky_cavok, dtype: int64

In [114]:
df['visibility_distance'].value_counts()

9900      598698
10000     388721
999999    358628
9999      240906
8000       70459
7000       43831
9000       35060
6000       31063
5000       25853
4000       15006
3000       11608
2000        6501
1000        2993
1500        2940
2500        2613
3500        2485
4500        1696
500         1309
800         1244
1200         700
1800         536
200          525
100          483
300          480
700          480
900          470
400          443
600          431
1300         358
2800         344
1700         326
1400         264
1100         260
4800         248
3700         238
3800         215
0            210
1600         208
2700         202
3300         196
3600         190
3200         186
3400         179
4700         174
4200         167
2200         160
50           159
2300         154
4300         151
2400         147
1900         140
4600         139
2900         133
4400         123
2600         120
3100         117
4900         117
3900         115
4100          88
150           75
2100          73
250           39
49            30
350           23
650           18
11265         17
450           16
750           16
12000         15
550           12
6500           8
19000          8
55000          5
8500           4
25000          4
30000          4
20000          4
15000          3
70000          2
7777           2
17000          2
80             1
3711           1
3819           1
4106           1
5500           1
70001          1
7500           1
9990           1
18000          1
10             1
20             1
Name: visibility_distance, dtype: int64

In [115]:
df['visibility_distance_units'].value_counts()

METERS    1852381
Name: visibility_distance_units, dtype: int64

In [116]:
df['visibility_distance_quality'].value_counts()

Passed all quality control checks                                             895041
Passed all quality control checks, data originate from an NCEI data source    598712
Passed gross limits check if element is present                               358628
Name: visibility_distance_quality, dtype: int64

In [117]:
df['visibility_variability'].value_counts()

Missing    1852381
Name: visibility_variability, dtype: int64

In [118]:
df['visibility_variability_quality'].value_counts()

Passed gross limits check if element is present    1852381
Name: visibility_variability_quality, dtype: int64

In [119]:
pd.options.display.max_rows = 40000
df['air_temperature'].value_counts()

 30.0     65243
 29.0     63306
 28.0     62876
 27.0     61799
 32.0     61407
 31.0     61192
 26.0     59153
 25.0     57909
 33.0     57311
 24.0     55716
 23.0     53936
 34.0     52574
 22.0     52239
 21.0     50187
 20.0     49501
 35.0     47568
 19.0     46643
 18.0     44224
 36.0     42673
 17.0     41514
 16.0     38142
 37.0     37907
 15.0     35174
 38.0     33201
 14.0     30887
 39.0     29162
 13.0     27200
 40.0     26149
 12.0     22630
 41.0     22183
 42.0     19283
 11.0     19027
 10.0     16090
 43.0     15530
 9.0      12754
 44.0     11199
 8.0      10160
 7.0       7947
 45.0      7299
 6.0       6092
 5.0       4482
 46.0      3885
 4.0       3093
 30.4      2316
 29.4      2313
 28.4      2265
 31.4      2245
 27.4      2232
 32.4      2212
 30.2      2188
 29.6      2168
 31.2      2144
 26.4      2139
 32.2      2119
 25.4      2091
 31.6      2085
 27.6      2076
 33.4      2074
 28.6      2061
 29.8      2060
 30.6      2057
 47.0      2051
 28.8      2044
 28.2      2039
 29.2      2035
 26.6      2033
 32.6      2026
 27.2      2018
 31.8      1995
 26.2      1985
 24.4      1974
 25.6      1968
 33.6      1963
 23.4      1956
 33.2      1936
 3.0       1923
 24.6      1895
 30.8      1885
 26.8      1876
 27.8      1869
 23.6      1852
 25.2      1840
 24.2      1833
 34.4      1823
 25.8      1822
 22.4      1797
 24.8      1774
 32.8      1770
 33.8      1710
 21.4      1707
 23.2      1656
 34.2      1649
 999.9     1648
 35.4      1643
 22.6      1641
 34.6      1622
 35.6      1605
 21.6      1604
 22.2      1604
 23.8      1595
 20.4      1585
 22.8      1583
 19.4      1525
 35.2      1520
 21.2      1494
 21.8      1492
 34.8      1484
 36.4      1473
 18.4      1472
 20.2      1448
 20.6      1423
 19.2      1416
 19.6      1406
 20.8      1395
 36.2      1375
 17.4      1374
 19.8      1352
 30.5      1343
 16.4      1338
 18.8      1332
 18.2      1328
 18.6      1320
 31.5      1310
 29.5      1289
 17.8      1282
 36.6      1272
 28.5      1268
 27.5      1265
 2.0       1263
 37.4      1260
 17.2      1250
 25.5      1246
 32.5      1231
 17.6      1226
 16.6      1210
 15.4      1206
 24.5      1199
 35.8      1197
 37.2      1188
 26.5      1156
 37.6      1155
 16.8      1131
 36.8      1130
 23.5      1126
 33.5      1124
 16.2      1113
 15.6      1109
 27.7      1101
 38.4      1090
 15.8      1083
 28.7      1079
 34.5      1066
 15.2      1062
 22.5      1057
 21.5      1032
 14.4      1027
 30.7      1024
 38.2      1019
 29.7      1011
 26.7      1007
 31.7      1005
 38.6      1003
 29.3      1001
 28.3      1000
 30.3       987
 32.7       985
 20.5       976
 14.8       970
 14.6       970
 39.4       969
 13.4       966
 37.8       965
 27.3       960
 19.5       959
 26.3       959
 31.1       953
 25.7       952
 31.3       947
 33.3       939
 28.1       929
 32.3       929
 18.5       929
 35.5       928
 36.5       920
 30.1       916
 24.7       913
 14.2       912
 32.1       910
 29.1       909
 25.3       897
 39.2       893
 33.7       884
 22.7       883
 17.5       879
 23.7       875
 38.8       872
 24.3       868
 34.7       865
 27.1       864
 48.0       864
 13.8       853
 33.1       849
 40.4       849
 39.6       846
 23.3       846
 22.3       829
 34.3       826
 16.5       825
 39.8       820
 26.9       819
 12.4       817
 13.6       814
 20.3       810
 21.3       805
 29.9       804
 13.2       801
 26.1       801
 20.7       800
 34.1       796
 21.7       795
 24.1       794
 28.9       782
 40.6       781
 31.9       776
 40.2       763
 35.7       759
 37.5       757
 12.8       748
 15.5       748
 25.1       746
 32.9       745
 30.9       745
 19.7       744
 27.9       741
 12.6       740
 35.3       740
 22.1       732
 1.0        732
 19.3       730
 23.1       729
 11.4       718
 18.7       714
 25.9       711
 17.7       707
 18.3       705
 33.9       703
 12.2       692
 35.1       687
 24.9       686
 20.1       683
 36.7       678
 21.1       675
 17.3       668
 23.9       668
 22.9       667
 20.9       662
 41.2       660
 41.6       658
 41.4       657
 36.1       651
 36.3       649
 16.7       648
 17.9       627
 38.5       626
 14.5       621
 40.8       619
 19.1       613
 19.9       611
 16.3       601
 10.4       599
 11.6       598
 37.1       597
 37.3       596
 37.7       594
 18.9       592
 21.9       591
 15.7       590
 11.8       588
 15.3       583
 11.2       581
 34.9       576
 13.5       570
 18.1       567
 17.1       566
 14.7       552
 16.9       551
 16.1       550
 39.5       544
 35.9       542
 36.9       537
 15.1       534
 10.6       530
 10.8       523
 38.3       523
 42.6       516
 15.9       512
 14.3       511
 40.5       510
 10.2       504
 41.8       501
 42.2       488
 42.4       485
 14.9       483
 38.7       482
 9.4        476
 9.8        472
 12.5       469
 39.3       457
 13.3       451
 41.5       450
 39.7       440
 38.1       437
 13.7       435
 40.3       433
 9.6        432
 8.4        430
 14.1       420
 0.0        417
 37.9       414
 42.8       410
 39.1       406
 40.7       404
 13.9       397
 12.7       395
 9.2        395
 43.2       388
 13.1       387
 8.8        387
 38.9       386
 41.7       381
 12.9       380
 42.5       378
 41.3       376
 12.3       370
 11.5       364
 40.1       361
 43.4       351
 11.7       347
 8.6        342
 41.1       338
 12.1       326
 10.5       323
 43.6       321
 11.3       311
 7.8        309
 39.9       305
 43.8       303
 42.1       302
 40.9       296
 8.2        288
 7.4        287
 11.9       285
 42.7       280
 43.3       277
 7.6        275
 43.5       273
 41.9       273
 42.3       268
-1.0        268
 44.2       267
 10.7       253
 44.6       253
 10.3       252
 11.1       250
 42.9       242
 9.5        242
 43.1       242
 7.2        239
 44.4       237
 6.6        229
 43.7       226
 49.0       226
 9.7        223
 8.5        223
 6.8        221
 44.8       212
 6.4        211
 5.4        209
 9.3        203
 10.9       202
 45.2       198
 45.4       198
 10.1       198
 9.9        189
 44.5       187
 44.3       179
 8.7        175
 6.2        166
 5.8        164
 5.6        164
 43.9       160
 9.1        157
 45.6       150
 44.1       148
 8.9        148
 8.3        146
 7.5        142
 44.7       135
 7.7        133
-2.0        133
 5.2        131
 8.1        129
 45.5       129
 7.9        121
 45.3       118
 4.4        118
 45.8       117
 44.9       116
 45.1       111
 4.8        109
 4.6        107
 46.2       104
 6.7        102
 4.2         95
 7.3         94
 46.4        92
 6.5         91
 45.7        90
 6.9         87
 6.1         84
 7.1         83
 46.6        79
 6.3         75
 3.8         75
 5.7         67
-3.0         67
 3.6         66
 46.5        64
 5.5         61
 3.4         60
 5.9         59
 5.3         57
 46.3        57
 47.2        57
 3.2         56
 46.8        55
 4.7         52
 46.1        52
 2.4         50
 45.9        49
 4.5         48
 50.0        47
 46.7        47
-4.0         45
 5.1         43
 47.4        43
 2.6         41
 2.8         40
 47.6        38
 3.9         36
 1.8         35
 3.5         35
 1.4         35
 4.9         35
 1.6         32
 47.3        31
 47.8        30
 4.3         29
 47.1        28
 2.2         28
 4.1         26
 46.9        26
 3.7         23
 3.3         22
 48.2        21
 1.2         20
 47.5        20
 47.7        19
 47.9        19
 48.4        18
 2.9         15
 3.1         15
 48.3        13
 2.7         12
 48.1        12
 48.8        12
 2.5         12
 1.9         11
 2.1         11
 48.6        10
 0.4         10
 1.3         10
 0.8         10
 48.5        10
 1.5          9
 2.3          8
-5.0          7
-1.4          6
 48.7         6
 1.7          5
 1.1          5
 0.2          5
-6.0          4
 49.7         4
 48.9         4
 49.2         4
 49.8         3
 0.6          3
-2.3          3
-2.8          3
 49.4         3
 49.6         3
 0.1          3
 49.1         2
-1.2          2
 49.9         2
 0.3          2
 49.5         2
 51.0         2
-2.2          2
 0.7          2
-0.4          2
-3.2          1
 0.5          1
-2.5          1
-4.6          1
-3.5          1
 50.4         1
-4.5          1
-0.2          1
-1.8          1
-1.5          1
 50.3         1
 50.7         1
 49.3         1
-3.8          1
-2.4          1
Name: air_temperature, dtype: int64

In [120]:
df['air_temperature_units'].value_counts()

DEGREES CELSIUS    1852381
Name: air_temperature_units, dtype: int64

In [121]:
df['air_temperature_quality'].value_counts()

Passed all quality control checks                                             1848100
Suspect                                                                          1753
Passed gross limits check if element is present                                  1648
Passed all quality control checks, data originate from an NCEI data source        878
Suspect, data originate from an NCEI data source                                    2
Name: air_temperature_quality, dtype: int64

In [122]:
df['air_temperature_dew_point'].value_counts()

 4      87160
 7      86139
 5      85074
 9      82430
 8      82354
 6      81642
 10     79261
 2      78987
 3      78308
 1      77938
 11     74790
 0      74300
 12     67734
-1      62004
 13     61321
-2      57127
 14     51810
 15     47612
-3      43128
-4      42791
 16     39285
 17     37333
 18     31395
-5      28513
 22     27302
 21     27228
 19     26511
 23     26135
 20     25876
 24     25111
-6      22976
 25     22249
 26     19091
-7      17220
 27     14238
-8      10546
-9      10345
 28      8386
-10      6132
 999     4868
-11      4463
-12      3525
-13      2571
 29      2271
-14      1917
-16      1294
-15       956
-17       600
 30       469
-18       418
-19       328
-20       204
-21       179
-22       110
 31       102
-23        80
-24        59
 35        36
 32        35
-25        34
-28        20
-27        19
 34        14
 33        13
-30        10
-32         2
 36         1
-26         1
Name: air_temperature_dew_point, dtype: int64

In [123]:
df['air_temperature_dew_point_units'].value_counts()

DEGREES CELSIUS    1852381
Name: air_temperature_dew_point_units, dtype: int64

In [124]:
df['air_temperature_dew_point_quality'].value_counts()

Passed all quality control checks                                             1830145
Suspect                                                                         16485
Passed gross limits check if element is present                                  4868
Passed all quality control checks, data originate from an NCEI data source        869
Suspect, data originate from an NCEI data source                                   14
Name: air_temperature_dew_point_quality, dtype: int64

In [125]:
df['atmospheric_sea_level_pressure'].value_counts()

9999.9    1524474
1009.2       2685
1010.2       2640
1008.2       2637
1004.2       2634
1011.2       2628
1005.2       2626
1003.2       2565
1006.2       2562
1012.2       2524
1007.2       2419
1002.2       2305
1013.2       2176
1001.2       1856
1014.2       1841
1014.3       1836
1012.3       1791
1013.3       1789
1015.3       1653
1011.3       1640
1011.0       1609
1009.3       1599
1004.9       1568
1004.5       1560
1008.9       1560
1003.9       1557
1011.9       1556
1005.9       1554
1012.5       1553
1009.5       1552
1010.7       1549
1010.9       1547
1004.3       1543
1011.4       1542
1013.0       1539
1012.0       1536
1010.3       1535
1005.7       1535
1006.4       1535
1010.5       1533
1010.4       1533
1010.1       1532
1005.4       1532
1009.4       1531
1013.5       1519
1009.1       1519
1012.8       1518
1004.6       1517
1003.4       1513
1014.0       1511
1008.6       1509
1003.7       1508
1010.6       1506
1007.9       1506
1003.6       1504
1011.7       1503
1009.8       1502
1006.5       1497
1011.8       1496
1002.7       1495
1004.7       1495
1012.1       1494
1012.6       1494
1009.0       1493
1004.0       1491
1008.4       1487
1005.1       1485
1009.9       1485
1005.5       1484
1010.8       1482
1012.9       1481
1006.3       1481
1007.4       1481
1011.5       1480
1011.1       1478
1006.9       1478
1004.8       1471
1005.3       1471
1012.7       1470
1005.8       1467
1003.0       1465
1013.7       1463
1004.4       1462
1013.1       1462
1004.1       1462
1008.3       1460
1009.7       1458
1007.0       1457
1007.1       1456
1008.0       1455
1008.1       1454
1006.8       1450
1008.7       1449
1007.5       1446
1003.3       1445
1003.5       1443
1012.4       1443
1002.9       1442
1013.8       1441
1013.4       1440
1006.1       1438
1009.6       1438
1008.5       1435
1014.1       1435
1005.0       1435
1010.0       1434
1007.7       1431
1013.9       1430
1007.3       1429
1006.0       1428
1015.2       1425
1006.7       1412
1011.6       1411
1007.8       1409
1005.6       1408
1013.6       1407
1003.1       1406
1007.6       1404
1002.8       1401
1014.4       1392
1006.6       1391
1002.4       1391
1014.5       1382
1008.8       1381
1001.9       1378
1002.6       1369
1002.3       1359
1002.5       1357
1002.1       1338
1002.0       1332
1003.8       1320
1001.7       1319
1015.0       1318
1014.6       1310
1014.9       1296
1016.3       1296
1014.7       1289
1001.4       1278
1001.8       1276
1014.8       1270
1001.5       1262
1001.1       1240
1015.5       1235
1015.1       1228
1001.6       1220
1015.4       1210
1001.3       1194
1015.6       1159
1000.8       1154
1000.9       1147
1015.8       1147
1016.0       1142
1015.7       1138
1001.0       1130
1000.6       1129
1000.7       1113
1016.1       1110
1000.5       1106
1016.2       1090
1000.1       1083
1015.9       1072
1000.4       1065
1017.3       1046
1000.3       1042
1000.2       1037
1016.5       1037
1016.6       1023
1016.4       1004
1016.7       1003
999.7         979
1017.0        970
1016.8        969
1000.0        966
999.9         965
1017.2        954
1016.9        942
999.8         912
1017.1        907
999.6         898
999.5         894
999.2         890
1017.5        888
999.3         869
1017.6        846
1017.4        836
1018.0        832
999.4         826
998.9         821
1018.3        818
1017.7        810
999.1         809
1017.8        802
998.7         777
999.0         777
1018.2        764
998.8         753
1018.1        750
998.5         742
998.6         736
998.3         732
1018.4        728
1018.5        721
998.4         712
1018.8        710
1017.9        706
998.2         694
998.1         693
998.0         675
1019.0        672
1018.7        665
1018.9        658
1018.6        651
1019.1        644
1019.6        643
1019.2        636
997.7         633
1019.3        628
1020.0        617
997.8         614
1019.7        608
1019.5        605
997.6         603
1019.4        595
1020.1        587
997.2         585
1019.9        585
997.9         583
997.5         583
997.4         571
1020.3        571
1020.4        567
1019.8        557
1020.2        553
997.3         544
1020.6        534
1020.5        520
997.1         517
997.0         516
1020.7        503
996.7         500
996.8         492
1021.2        480
996.9         480
1020.8        479
1020.9        462
1021.3        458
1021.5        452
996.1         451
1021.0        449
996.6         443
996.5         440
1021.4        433
1021.1        431
996.3         420
996.2         413
1021.8        406
1022.0        398
996.4         396
1022.3        392
1021.6        391
1021.7        390
1022.1        387
996.0         378
1022.6        375
1022.2        374
995.9         371
1023.1        354
1021.9        352
1022.4        346
1022.7        345
1023.0        343
995.6         337
1022.5        333
995.8         333
995.7         330
1022.8        314
1022.9        306
995.4         302
995.5         292
1023.2        276
1023.4        275
1023.5        273
995.2         268
995.0         256
1023.6        255
1023.9        254
1023.3        250
1023.7        245
1024.4        235
1023.8        234
995.1         230
995.3         230
1024.1        225
1024.2        219
1024.0        215
1024.3        207
994.9         206
994.8         201
994.6         190
1024.6        190
994.7         190
1024.5        184
1024.7        175
1024.9        172
1025.0        171
994.5         171
994.4         165
1024.8        159
994.3         146
1025.3        146
1025.1        144
1025.6        144
1025.4        141
994.0         135
994.2         135
994.1         134
1025.2        128
1025.7        123
1025.5        121
993.9         118
1025.9        111
1026.0        109
1026.2        105
993.6          99
993.7          99
1025.8         98
993.8          96
1026.5         89
1026.1         86
1026.3         84
993.3          79
993.5          78
1026.7         75
1026.4         72
993.2          70
993.4          68
1026.6         68
1026.8         68
1027.4         63
1026.9         61
1027.1         60
1027.2         58
993.1          53
1027.0         52
1027.6         47
993.0          47
1027.5         45
1028.2         44
992.9          42
1027.3         41
1027.8         40
1028.1         38
1028.0         38
1027.9         38
1027.7         36
992.6          35
992.7          35
1028.7         33
992.4          32
992.2          32
1028.3         31
1030.9         29
992.8          27
1028.6         27
1028.5         27
1028.4         27
992.5          26
1029.2         25
992.3          24
1028.8         22
1029.1         20
992.0          20
1029.0         20
1029.5         18
1029.4         17
1029.3         17
1028.9         15
992.1          15
1029.7         15
1030.1         15
1030.5         14
1030.4         13
1030.2         13
991.8          13
1029.9         13
1031.3         12
1029.8         12
1030.0         12
1029.6         12
1030.6         11
991.9          11
1030.7         10
1031.0         10
991.4           9
991.7           9
1031.1          8
1030.3          8
1030.8          7
1032.3          7
991.6           7
1031.2          6
990.9           6
991.3           6
1031.4          5
991.2           5
1032.1          5
1032.7          5
991.5           5
1031.7          5
1032.0          4
991.0           4
1031.5          4
1031.6          4
1031.8          4
991.1           4
1033.0          3
1032.4          2
1032.6          2
1033.5          2
1033.2          2
990.2           2
990.6           2
990.3           2
990.7           2
990.5           2
990.8           2
1032.2          2
1040.9          1
1033.4          1
1031.9          1
1032.8          1
989.3           1
1032.9          1
1032.5          1
1033.6          1
Name: atmospheric_sea_level_pressure, dtype: int64

In [126]:
df['atmospheric_sea_level_pressure_units'].value_counts()

HECTOPASCALS    1852381
Name: atmospheric_sea_level_pressure_units, dtype: int64

In [127]:
df['atmospheric_sea_level_pressure_quality'].value_counts()

Passed gross limits check if element is present                               1524474
Passed all quality control checks                                              327753
Suspect                                                                           141
Passed all quality control checks, data originate from an NCEI data source         13
Name: atmospheric_sea_level_pressure_quality, dtype: int64

In [128]:
df['GEOPOINT'].value_counts()

25.285306,49.485189      68417
24.95764,46.698776       68301
30.906589,41.138217      68281
29.785133,40.100006      68086
26.4333333,49.8          68065
16.901111,42.585833      67940
21.679564,39.156536      67925
29.626419,43.490614      67732
18.240367,42.656625      67721
26.3,43.7666666          67647
21.483418,40.544334      67639
28.335192,46.125069      67631
27.437917,41.686292      67603
24.144244,38.06335       67576
28.365417,36.618889      67551
26.198553,36.476381      67481
17.466875,47.121431      67470
31.692683,38.7312        67412
24.553422,39.705061      67265
17.611436,44.419169      67225
20.504275,45.199556      66704
18.297286,42.803536      64371
26.2938,38.0637          54583
26.265417,50.152027      49864
31.411942,37.279469      44705
19.98435,42.620881       44609
20.296139,41.634277      44135
24.449867,44.121175      34934
27.039028,49.405083      29828
21.4333333,39.7666666    17205
21.3333333,39.9666666    15574
26.9833333,44.1166666    11838
24.721944,46.724722      10036
27.900917,45.528194       5149
24.709833,46.725166       2367
21.4166666,39.8666666     1506
28.0,41.45                   4
26.45,49.8166666             1
Name: GEOPOINT, dtype: int64

##Preprocessing

### Extract Day, Month & hour Separately from observation_date column

In [129]:
#Define the format of observation_date column
df['observation_date'] = pd.to_datetime(df.observation_date, format='%Y-%m-%d %H:%M:%S')

In [130]:
# Remove the timezone information from the observation_date column
df['observation_date']=df['observation_date'].dt.tz_localize(None)

In [131]:
df['observation_date'].value_counts()

2021-07-05 12:00:00    59
2019-06-29 18:00:00    59
2021-07-01 09:00:00    59
2021-07-13 09:00:00    59
2021-07-13 12:00:00    59
                       ..
2018-03-29 09:04:00     1
2019-02-16 01:15:00     1
2022-06-22 16:22:00     1
2018-03-29 03:28:00     1
2022-03-15 06:39:00     1
Name: observation_date, Length: 62031, dtype: int64

In [132]:
#Extracting 'Month' separately from observation_date column
df['month'] = df['observation_date'].dt.month

In [133]:
df['month'].value_counts()

1     163328
3     162149
7     161873
10    159026
8     158550
4     157251
6     156885
5     154597
11    152302
9     152224
2     144058
12    130138
Name: month, dtype: int64

In [134]:
#Extracting 'Day' separately from observation_date column
df['day'] = df['observation_date'].dt.day

In [135]:
df['day'].value_counts()

5     62834
7     62813
6     62813
3     62686
4     62549
9     62354
8     61732
2     61716
27    61707
25    61698
1     61644
23    61423
26    61379
22    61278
14    61258
24    61187
15    61163
12    60967
10    60908
16    60542
11    60357
28    60107
21    60095
19    59776
13    59387
18    59297
20    59135
17    58917
29    54805
30    52955
31    32899
Name: day, dtype: int64

In [136]:
#Extracting 'hour' separately from observation_date column
df['hour'] = df['observation_date'].dt.hour

In [137]:
df['hour'].value_counts()

18    117610
12    117533
9     116827
15    116629
21    116237
0     112901
6     110180
3     108537
8      60105
11     59974
10     59927
14     59878
16     59876
13     59852
17     59815
19     59726
20     59435
22     58945
23     58721
7      57960
5      55706
4      55441
1      55287
2      55279
Name: hour, dtype: int64

In [138]:
#Extracting 'minute' separately from observation_date column
df['minute'] = df['observation_date'].dt.minute

In [139]:
df['minute'].value_counts()

0     1841210
30        499
20        317
25        312
10        295
35        295
15        290
31        285
26        284
22        282
27        264
18        258
21        256
23        254
12        253
34        253
11        252
19        250
28        245
29        245
32        242
24        241
17        241
33        236
16        234
14        234
36        229
37        223
38        216
40        211
13        206
9         184
41        180
5         177
6         174
39        174
7         150
42        149
8         141
2         134
4         131
1         130
43        122
46        112
45        109
44        107
3         107
50        101
55         93
57         85
56         84
49         76
54         76
58         76
47         75
48         74
53         66
51         66
59         60
52         56
Name: minute, dtype: int64

### Create 'Season' column from Month

In [140]:
#Create 'Season' column from month
df['season'] = (df.month - 1) // 3

Mapping month 1,2,3 to 0 (winter season),
month 4,5,6 to 1 (spring season),
month 7,8,9 to 2 (summer season), and month
10,11,12 to 3 (fall season).

In [141]:
df['season'].value_counts()

2    472647
0    469535
1    468733
3    441466
Name: season, dtype: int64

In [142]:
#Create 'Season_name' column from month
season_dict = {1: 'Winter',
               2: 'Winter',
               3: 'Winter', 
               4: 'Spring',
               5: 'Spring',
               6: 'Spring',
               7: 'Summer',
               8: 'Summer',
               9: 'Summer',
               10: 'Fall',
               11: 'Fall',
               12: 'Fall'}
df['Season_name'] = df['month'].apply(lambda x: season_dict[x])

In [143]:
df['Season_name'].value_counts()

Summer    472647
Winter    469535
Spring    468733
Fall      441466
Name: Season_name, dtype: int64

In [144]:
df

,YEAR,station_country,station_name,station_id,observation_date,latitude,longitude,elevation,wind_direction_angle,wind_direction_angle_units,...,atmospheric_sea_level_pressure,atmospheric_sea_level_pressure_units,atmospheric_sea_level_pressure_quality,GEOPOINT,month,day,hour,minute,season,Season_name
0,2022,SA,AL BAHA,41055099999,2022-12-10 00:00:00,20.296139,41.634277,1672.13,350,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"20.296139,41.634277",12,10,0,0,3,Fall
1,2022,SA,TAIF,41036099999,2022-12-10 00:00:00,21.483418,40.544334,1477.67,999,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"21.483418,40.544334",12,10,0,0,3,Fall
2,2022,SA,AL-DAWADAMI,40435099999,2022-12-10 00:00:00,26.983333,44.116667,923.00,80,ANGULAR DEGREES,...,1017.0,HECTOPASCALS,Passed all quality control checks,"26.9833333,44.1166666",12,10,0,0,3,Fall
3,2022,SA,AL AHSA,40420099999,2022-12-10 00:00:00,25.285306,49.485189,179.22,340,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"25.285306,49.485189",12,10,0,0,3,Fall
4,2022,SA,GASSIM,40405099999,2022-12-10 00:00:00,26.300000,43.766667,648.00,110,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"26.3,43.7666666",12,10,0,0,3,Fall
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852376,2017,SA,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,ANGULAR DEGREES,...,1018.7,HECTOPASCALS,Passed all quality control checks,"28.335192,46.125069",1,1,3,0,0,Winter
1852377,2017,SA,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"28.335192,46.125069",1,1,3,0,0,Winter
1852378,2017,SA,KING ABDULAZIZ AB,40416099999,2017-01-01 03:00:00,26.265417,50.152027,25.60,280,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"26.265417,50.152027",1,1,3,0,0,Winter
1852379,2017,SA,KING KHALED AB,41114099999,2017-01-01 03:00:00,18.297286,42.803536,2065.93,160,ANGULAR DEGREES,...,9999.9,HECTOPASCALS,Passed gross limits check if element is present,"18.297286,42.803536",1,1,3,0,0,Winter
1852380,2017,SA,PRINCE MOHAMMAD BIN ABDULAZIZ,40430099999,2017-01-01 03:00:00,24.553422,39.705061,655.62,110,ANGULAR DEGREES,...,1014.7,HECTOPASCALS,Passed all quality control checks,"24.553422,39.705061",1,1,3,0,0,Winter

## Create 'humidity' column from dew point

In [145]:
#Create 'humidity_level' column from air_temperature_dew_point column
def my_func(dew):
  if dew <= 10:
        return '25% and lower'
  elif dew <= 12:
        return '26â€“30%'
  elif dew <= 16:
        return'31â€“36%'
  elif dew <= 18:
        val = '37â€“43%'
  elif dew <= 21:
        return '44â€“51%'
  elif dew <= 24:
        return '52â€“61%'
  elif dew <= 26:
        return '62â€“72%'
  else:
        val = '73% and higher'
  return val
df['humidity_level'] = df['air_temperature_dew_point'].apply(my_func)

In [146]:
df['humidity_level'].value_counts()

25% and lower     1211165
31â€“36%             200028
26â€“30%             142524
44â€“51%              79615
52â€“61%              78548
37â€“43%              68728
62â€“72%              41340
73% and higher      30433
Name: humidity_level, dtype: int64

In [147]:
df

,YEAR,station_country,station_name,station_id,observation_date,latitude,longitude,elevation,wind_direction_angle,wind_direction_angle_units,...,atmospheric_sea_level_pressure_units,atmospheric_sea_level_pressure_quality,GEOPOINT,month,day,hour,minute,season,Season_name,humidity_level
0,2022,SA,AL BAHA,41055099999,2022-12-10 00:00:00,20.296139,41.634277,1672.13,350,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"20.296139,41.634277",12,10,0,0,3,Fall,31â€“36%
1,2022,SA,TAIF,41036099999,2022-12-10 00:00:00,21.483418,40.544334,1477.67,999,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"21.483418,40.544334",12,10,0,0,3,Fall,26â€“30%
2,2022,SA,AL-DAWADAMI,40435099999,2022-12-10 00:00:00,26.983333,44.116667,923.00,80,ANGULAR DEGREES,...,HECTOPASCALS,Passed all quality control checks,"26.9833333,44.1166666",12,10,0,0,3,Fall,26â€“30%
3,2022,SA,AL AHSA,40420099999,2022-12-10 00:00:00,25.285306,49.485189,179.22,340,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"25.285306,49.485189",12,10,0,0,3,Fall,25% and lower
4,2022,SA,GASSIM,40405099999,2022-12-10 00:00:00,26.300000,43.766667,648.00,110,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"26.3,43.7666666",12,10,0,0,3,Fall,31â€“36%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852376,2017,SA,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,ANGULAR DEGREES,...,HECTOPASCALS,Passed all quality control checks,"28.335192,46.125069",1,1,3,0,0,Winter,25% and lower
1852377,2017,SA,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"28.335192,46.125069",1,1,3,0,0,Winter,25% and lower
1852378,2017,SA,KING ABDULAZIZ AB,40416099999,2017-01-01 03:00:00,26.265417,50.152027,25.60,280,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"26.265417,50.152027",1,1,3,0,0,Winter,25% and lower
1852379,2017,SA,KING KHALED AB,41114099999,2017-01-01 03:00:00,18.297286,42.803536,2065.93,160,ANGULAR DEGREES,...,HECTOPASCALS,Passed gross limits check if element is present,"18.297286,42.803536",1,1,3,0,0,Winter,25% and lower
1852380,2017,SA,PRINCE MOHAMMAD BIN ABDULAZIZ,40430099999,2017-01-01 03:00:00,24.553422,39.705061,655.62,110,ANGULAR DEGREES,...,HECTOPASCALS,Passed all quality control checks,"24.553422,39.705061",1,1,3,0,0,Winter,25% and lower

### Create air_temperature_categories from air_temperature

In [148]:
#Create 'air_temperature_categories' column from 'air_temperature' column
def my_func(temp):
  if temp<= 15:
        return 'cold'
  elif (temp > 15) & (temp<= 23) :
        return'comfortable'
  elif (temp > 23) & (temp <= 32):
        val = 'warm'
  else:
        val = 'hot'
  return val
df['air_temperature_categories'] = df['air_temperature'].apply(my_func)

### Drop unnecessary columns

In [149]:
# Drop missing row from wind_type column:
df.drop(df[df['wind_type'] == 'Missing'].index, inplace = True)

In [150]:
df['wind_type'].value_counts()

Normal      1627392
Calm         204284
Variable      20695
Name: wind_type, dtype: int64

In [151]:
# Drop missing row from sky_cavok column:
df.drop(df[df['sky_cavok'] == 'Missing'].index, inplace = True)

In [152]:
df['sky_cavok'].value_counts()

Yes    956523
No     890169
Name: sky_cavok, dtype: int64

In [153]:
# Remove unnecessary columns after extract useful information:
df.drop(['station_country','wind_direction_angle_units','air_temperature_dew_point_units','wind_direction_quality','wind_speed_rate_units','wind_speed_quality','sky_ceiling_height_units','sky_ceiling_determination','sky_ceiling_quality','visibility_distance_units','visibility_distance_quality','visibility_variability','visibility_variability_quality','air_temperature_units','air_temperature_quality','air_temperature_dew_point_units','air_temperature_dew_point_quality','atmospheric_sea_level_pressure_units', 'atmospheric_sea_level_pressure_quality','sky_ceiling_height'], axis=1 ,inplace=True)
df.drop(['atmospheric_sea_level_pressure'], axis=1 ,inplace=True)
df

,YEAR,station_name,station_id,observation_date,latitude,longitude,elevation,wind_direction_angle,wind_type,wind_speed_rate,...,air_temperature_dew_point,GEOPOINT,month,day,hour,minute,season,Season_name,humidity_level,air_temperature_categories
0,2022,AL BAHA,41055099999,2022-12-10 00:00:00,20.296139,41.634277,1672.13,350,Normal,4.6,...,14,"20.296139,41.634277",12,10,0,0,3,Fall,31â€“36%,comfortable
1,2022,TAIF,41036099999,2022-12-10 00:00:00,21.483418,40.544334,1477.67,999,Calm,0.0,...,12,"21.483418,40.544334",12,10,0,0,3,Fall,26â€“30%,comfortable
2,2022,AL-DAWADAMI,40435099999,2022-12-10 00:00:00,26.983333,44.116667,923.00,80,Normal,9.3,...,11,"26.9833333,44.1166666",12,10,0,0,3,Fall,26â€“30%,comfortable
3,2022,AL AHSA,40420099999,2022-12-10 00:00:00,25.285306,49.485189,179.22,340,Normal,2.6,...,7,"25.285306,49.485189",12,10,0,0,3,Fall,25% and lower,comfortable
4,2022,GASSIM,40405099999,2022-12-10 00:00:00,26.300000,43.766667,648.00,110,Normal,1.0,...,14,"26.3,43.7666666",12,10,0,0,3,Fall,31â€“36%,cold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1852376,2017,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,Normal,3.1,...,8,"28.335192,46.125069",1,1,3,0,0,Winter,25% and lower,cold
1852377,2017,QAISUMAH,40373099999,2017-01-01 03:00:00,28.335192,46.125069,357.83,360,Normal,3.1,...,8,"28.335192,46.125069",1,1,3,0,0,Winter,25% and lower,cold
1852378,2017,KING ABDULAZIZ AB,40416099999,2017-01-01 03:00:00,26.265417,50.152027,25.60,280,Normal,2.6,...,10,"26.265417,50.152027",1,1,3,0,0,Winter,25% and lower,cold
1852379,2017,KING KHALED AB,41114099999,2017-01-01 03:00:00,18.297286,42.803536,2065.93,160,Normal,2.1,...,9,"18.297286,42.803536",1,1,3,0,0,Winter,25% and lower,cold
1852380,2017,PRINCE MOHAMMAD BIN ABDULAZIZ,40430099999,2017-01-01 03:00:00,24.553422,39.705061,655.62,110,Normal,2.1,...,4,"24.553422,39.705061",1,1,3,0,0,Winter,25% and lower,comfortable

In [154]:
# Drop missing row from wind_direction_angle column:
df.drop(df[df['wind_direction_angle'] == 999].index, inplace = True)

In [155]:
# Drop missing row from visibility_distance column:
df.drop(df[df['visibility_distance']  == 999999].index, inplace = True)

In [156]:
# Drop missing row from wind_speed_rate column:
df.drop(df[df['wind_speed_rate'] == 999.9].index, inplace = True)

In [157]:
# Drop missing row from air_temperature column:
df.drop(df[df['air_temperature'] == 999.9].index, inplace = True)

In [158]:
# Drop missing row from air_temperature_dew_point column:
df.drop(df[df['air_temperature_dew_point'] == 999].index, inplace = True)

### Extract CSV

In [159]:
#save dataframe to csv
df.to_csv('SaudiWeather.csv', index=False)